<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./css/style.css">
</head>
<body>
  <header class="header-banner">
    <div class="c10546">Choose at least 3 Categories</div>
  </header>
  <div class="row">
    <div class="cell" title="">
      <img class="c8607" src="https://s3.amazonaws.com/feather-client-files-aviary-prod-us-east-1/2017-11-25/ed941911-b194-455c-9be0-fabc73a3dba8.jpg"/>
    </div>
    <div class="cell" title="">
      <img class="c9013" src="http://placehold.it/350x250/459ba8/fff/image2.jpg"/>
    </div>
    <div class="cell">
      <img class="c9170" src="http://placehold.it/350x250/78c5d6/fff/image1.jpg"/>
    </div>
  </div>
  <div class="row">
    <div class="cell" title="">
      <img class="c8607" src="http://placehold.it/350x250/78c5d6/fff/image1.jpg"/>
    </div>
    <div class="cell" title="">
      <img class="c9013" src="http://placehold.it/350x250/459ba8/fff/image2.jpg"/>
    </div>
    <div class="cell">
      <img class="c9170" src="http://placehold.it/350x250/78c5d6/fff/image1.jpg"/>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <form class="form">
        <button type="submit" class="button">Game Start</button>
      </form>
    </div>
  </div>
</body>
<html>

