.Home{
  min-height: 100%;
  height: auto;
  width: 100%;
  background-color: white;
  top:0;
  left:0;
  position: absolute;
}
.Home header{
  color:blue;
  text-align: center;
}
.Home Button{
  background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float:left;
}

.Home button{
  display: inline-block;
  text-align: center;
  position: relative;
  padding-left: auto;
  padding-right: auto;
}
